* { box-sizing: border-box; }


@media (min-width: 768px) {
  body { padding: 70px; }
}


html, body {
  height: 100%;
  padding: 20px;
}


body{

	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	background: url('../assets/jaguar-xe.jpg');
	background-repeat:no-repeat; 
	background-position:center;
	background-size: cover;
}

.container{
	color:white;
	background-color: black;
	border-radius: 7px;
	max-width: 600px;
	padding: 20px;
	margin: 80px 0 0 80px;
	background: rgba(0, 0, 0, 0.6);
}

.container input{

	color: white;
	background-color: #DB3030;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	text-align: center;
}


@media screen and (min-width: 800px){

	.container{

		width: auto;
		margin: 80px;

	}
}


@media screen and (max-width:500px){

	.container{

		width: auto;
		margin: 7px;
		font-size: 11px;

	}
}


@media screen and (max-height:500px){

	.container{

		height: auto;
		margin: 7px;
		font-size: 11px;

	}
}


@media screen and (max-width:300px){

	.container{

		width: auto;
		margin: 7px;
		font-size: 6px;

	}
}


@media screen and (max-height:300px){

	.container{

		height: auto;
		margin: 7px;
		font-size: 6px;

	}
}




